html {
  scroll-behavior: smooth;
   overflow-x: hidden
}
body {
  background-color: #bfcba8;
  font-family: "Ubuntu";
  text-align: justify;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5px;
  overflow-x: hidden
}

/*Menú*/
.menu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bfcba8;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 4;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
}
.menu a img{
  transition: 0.4s ease-in-out 
}
.menu a img:hover {
  transform: scale(1.2);
}
.menu img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #0f2b25;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
.menuop {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.hamburguesa {
  display: none;
  font-size: 30px;
  cursor: pointer;
  margin-right: 7px;
}
#menu-toggle {
  display: none;
}
@media (max-width: 1400px) {
  .menuop {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #bfcba8;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px;
    z-index: 1000;
  }

  .hamburguesa {
    display: block;
  }
  #menu-toggle:checked ~ ul.menuop {
    display: flex;
  }
}
.menuop li a {
  text-decoration: none;
  color: black;
  font-size: large;
  padding: 10px;
  transition: 0.3s ease-in-out;
}
.menuop li a:hover {
  background-color: #eae8f0;
  border-radius: 5px;
}

/*Páxina Principal*/
/*Imaxe da páxina principal*/
.negro {
 position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  margin: 0;
  top: 0;
}
.botonp {
  position: absolute;
  top: 47vh;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  padding: 1em;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  z-index: 2;
  align-items: center;
  justify-content: center;
  text-align: center;
} /*Botóns enriba da imaxe*/
.botonp li a {
  display: block;
  padding: 0.5rem 1rem;
  background-color: #bfcba8;
  color: #000;
  text-decoration: none;
  border-radius: 0.5em;
  transition: background-color 0.3s ease-in-out;
  font-size: 1.5em;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
  flex-wrap: nowrap;
}
.botonp li a:hover {
  background-color: rgba(255, 255, 255, 1);
  font-size: 1.6em;
}
@media (max-width: 480px) {
  .botonp {
    margin-top: 4em;
  }
  
  .botonp li a {
    font-size: 1em;
    width: 50%;
  }
  
  .botonp li a:hover{
    font-size: 1.1em
  }
}
.imagenp {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  max-height: 30%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}
.imagenp img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imagenp .bienv{
position: absolute;
  z-index: 2; 
  top: 30vh;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4rem;
  text-align: center;
}

.ax {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-content: center;
} /* Texto de encabezado dos apartados da páxina principal*/
.columnas {
  display: flex;
  flex-direction: row;
  column-gap: 2em;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
  
} /*Texto da páxina principal a dobre columna*/

/*Clases necesarias para que funcione a fonte de Google Fonts*/
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}
.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/*Cadros da Páxina Principal*/
.CuadroPPF {
  border-radius: 25px;
  background-color: #464f41;
  box-shadow: 1px 4px 7px rgba(0, 0, 0, 1);
  display: flex;
  
  align-content: center;
  color: #ffffff;
  width: 70%;
  max-width: 90%;
  flex-wrap: wrap;
}
.CuadroPP img {
  position: relative;
  display: flex;
  justify-self: flex-start;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  border-radius: 35px;
  width: 30%;
  max-width: 60%;
  margin: 30px;
  z-index: 2;
 
}


.CuadroPP {
  display: flex;
 flex-direction: row;
  text-align: center;
  font-size: 0.9em;
  justify-content: space-between;
}
.CuadroPP div {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-right: 10em;
}

@media (max-width: 480px) {
  
  .CuadroPPF {
    width: 80%;
     
  }
  .CuadroPP div {
    margin-right: 0.7em;
    font-size: 0.8em
  }
  
  .CuadroPP img {
    margin: 10px;
  }
  
  .boton {
    font-size: 0.7em;
  }
  
  .columnas{
    font-size: 0.9em;
  }
}

/*Outros botóns da páxina principal*/
.boton {
  list-style: none;
  display: flex;
  gap: 20em;
  margin: 2em;
  padding: 0;
  align-content: center;
  justify-content: center;
}
.boton li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
  padding: 10px;
  transition: 0.3s ease-in-out;
  background-color: #00262b;
  border-radius: 7px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.boton li a:hover {
  background-color: #eae8f0;
  color: #000000;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
  font-size: 1.5em;
}

/*Cadro das redes sociais*/
.CuadroSS {
  border-radius: 25px;
  background-color: #464f41;
  box-shadow: 1px 4px 7px rgba(0, 0, 0, 1);
  display: flex;
  
  
  margin-bottom: 5em;
  color: white;
  width: 30%;
  max-width: 100%;
  flex-direction: column
}
.CuadroSS h3 {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 30px;
}
.CuadroSS div {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 30px;
}
.CuadroSS small a {
  font-size: 1.5em;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  color: white;
}
.CuadroSS small a:hover {
  font-size: 1.7em;
}
.CuadroSS small a:visited {
  text-decoration: none;
}
@media (max-width: 480px){
  .CuadroSS{
     
    width: 60%
  }
}

/*Estilos da páxina de Rutas*/
.TitRutt {
  display: flex;
  
  width: 90%;
  max-width: 100%;
  margin-top: 90px;
} /*Encabezado da páxina rutas*/ 
.rutas {
  border-radius: 25px;
  background-color: #464f41;
  box-shadow: 1px 4px 7px rgba(0, 0, 0, 1);
  display: flex;
  
  
  color: #ffffff;
  width: 90%;
  height: 90%;
  max-width: 100%;
  font-size: 0.9em;
  margin: 30px;
  flex-direction: column
} /*Fondo do apartado*/
.ruttas {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
} /*Contido*/
.ruttas img {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  border-radius: 35px;
  width:50%;
  max-width: 25em;
  margin: 30px;
}
@media (max-width: 480px){
  
  .ruttas {
    font-size: 0.7em;
  }
  
  .ruttas img {
    width: 40%;
    height: 60%;
    border-radius: 20px;
  }
  
}

.botonr {
  list-style: none;
  display: flex;
  gap: 20em;
  margin: 2em;
  padding: 0;
  
  
  font-size: 0.7em;
} /*Botón da páxina Rutas*/
.botonr li a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  transition: 0.3s ease-in-out;
  background-color: #00262b;
  border-radius: 7px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.botonr li a:hover {
  background-color: #eae8f0;
  color: #000000;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
  font-size: 1.3em;
}

/* Estilos para Aloxamentos */
.Titaloj {
  border-radius: 15px;
  background-color: #464f41;
  box-shadow: 1px 4px 7px rgba(0, 0, 0, 1);
  display: flex;
  
  
  color: #ffffff;
  width: 50%;
  max-width: 100%;
  font-size: 2em;
  text-align: center;
  margin: 30px;
  margin-top: 90px;
  justify-content: center;
} /*Encabezado de aloxamentos*/
.OpalojF  /*Contenedor para as opcións de aloxamentos*/ {
  display: block;
  width: 90%;
  max-width: 100%;
  
  

}
.OpalojF div h3 {
  display: flex;
  justify-self: flex-start;
  margin-left: 20px;
  font-size: 1.7em;
  
}
.Opaloj {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
 font-size: 1.3em;
} /*Contido*/
.Opaloj img {
  width: 40%;
  max-width: 25em;
  margin: 20px;
  margin-top: 0;
  border-radius: 25px;
}

/*Apartado de links en aloxamento*/
.linkAl {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: center;
  background-color: #464f41;
  border-radius: 25px;
  box-shadow: 1px 4px 7px rgba(0, 0, 0, 1);
  margin-left: 0;
  width: 65%;
 
}
.linkAl span{
  font-size: 0.7em;
  display: flex;
  margin-bottom: 10px;
  margin-right: 30px;
  color: #ffffff;
}
.linkAl img {
  display: flex;
  border-radius: 100%;
  width: 40%;
  max-width: 5em;
  margin: 0;
  transition: 0.3s ease-in-out;
  box-shadow: none;
  margin-bottom: 10px;
  margin-right: 30px;
  
}
.linkAl img:hover {
  width: 50%;
}
@media (max-width: 480px) {
  .Titaloj {
    font-size: 1em
  }
  .Opaloj {
    font-size: 0.7em;
    margin-right: 20px;
  }
  
  .OpalojF {
    width: 80%;
    margin-right: 30px;
  }
  
  .OpalojF div h3 {
    font-size: 1em;
  }

  .Opaloj ul{
    display: flex;
    justify-content: center;
  }
}

/*Estilos Inforutas*/
.Titinfo {
  border-radius: 15px;
  background-color: #464f41;
  box-shadow: 1px 4px 7px rgba(0, 0, 0, 1);
  display: flex;
  
  
  color: #ffffff;
  width: 60%;
  max-width: 100%;
  font-size: 2em;
  text-align: center;
  margin: 30px;
  margin-top: 90px;
  justify-content: center
} /*Encabezado da páxina InfoRutas*/
.InfR  {
  display: flex;
  
  
  
  width: 90%;
  max-width: 90%;
  font-size: 1.5em;
  
}/*Contenedor para a información de cada ruta*/
.NInfR {
  display: flex;
  width: 90%;
  max-width: 90%;
  
  font-size: 1.3em;
} /*Nome da Ruta en InfoRutas*/
.InfoRut {
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
  width: 90%;
 
} /*Contido*/
.InfoRut ul li {
  margin-bottom: 0.5em;
}
.InfoRut img {
  border-radius: 25px;
  width: 40%;
  max-width: 40em;
  box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.7);
}

/*Mapas expandibles da páxina de InfoRutas*/
.InfMap{
  display: flex;
  flex-direction: row;
  width: 90%;
  
  justify-content: space-between;
  font-size: 1.3em;
}
.InfMap img{
  display: flex;
  align-content: flex-start;
   border-radius: 25px;
   width: 20%;
  max-width: 40em;
  transition: 0.5s ease-in-out;
  box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.7);
  margin-right: 40px;
  margin-bottom: 100px
}
.InfMap img:hover {
  width: 60%;
  margin-bottom: 10px;
  box-shadow: 1px 4px 7px rgba(0, 0, 0, 1);
}
.InfMap img:active {
  width: 60%;
  margin-bottom: 10px;
  box-shadow: 1px 4px 7px rgba(0, 0, 0, 1);
}

@media (max-width: 480px) {
  .Titinfo, .InfR, .NInfR, .InfMap {
   font-size: 1em
  }
  .Botonr {
    font-size: 0.6
  }
}


/*Para o botón do erro 404*/
.Bot a { display: flex;
  text-align: center;
  background-color: #0f2b25;
   justify-content: center;
  border-radius: 5px;
  padding: 10px;
  color: white;
  align-items: center;
  text-decoration: none;
  margin: 0 auto;
  font-size: 1.5em;
  transition: 0.5s ease-in-out;
  width: fit-content;
  

}
.Bot h2, .Bot h1, .Bot img {
  display: flex;
  justify-content: center;
  align-items: center;

  
}
.Bot a:hover {
  background-color: white;
  color: black;
  font-size: 1.7em;
  border-radius: 3px;
   justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/*Botón da política de Cookies*/
.politica {
  display: flex;
  justify-content: center; 
  width: 20%;
  transition: 0.3s ease-in-out;
  background-color: #0f2b25;
  border-radius: 15px;
  
}

.politica:hover {
  font-size: larger;
}

.politica a {
  text-decoration: none;
  color: white;
}

@media (max-width: 1600px) {
  .politica{
    width: 50%;
  }
}
